body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 10vh;
    width: 100vw;
    background-color: rgb(70, 97, 109);
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.sorting-list {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

.sorting-list > li {
    cursor: pointer;
}

.data {
    height: 500px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.data-point {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);
}

.data-point:hover {
    background-color: rgb(28, 28, 28);
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}

button {
    background-color: rgb(70, 97, 109);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    border: 2px solid rgb(70, 97, 109);
}

button:hover {
    background-color: rgb(59, 82, 92);
}

button:active {
    background-color: rgb(60, 84, 94);
    transform: translateY(1px);
}

input {
    border: 2px solid rgb(70, 97, 109);
    border-radius: 5px;
    padding: 5px 10px;
}
